#feedback {
    & h1 {
        font-family: 'above-the-beyond-script', sans-serif;
        font-size: 3.8rem;
        font-weight: 100;
        color: #d7c1b5;
        margin-left: 40%;
    }

    & .card-container {
        display: flex;
        justify-content: center;
        gap: 10rem;
        /* padding-bottom: 20rem; */

        & .card:nth-child(1) {
        position: relative;
        margin-top: 10rem;
        border: solid .2rem #c72023;
        background-color: #d3cab5;
        border-radius: 2rem;
        width: 24rem;
        height: 32rem;

        & p {
            font-family: 'classy-vogue-regular';
            font-size: 1.6rem;
            padding: 2rem;
            max-width: 25rem;
            text-align: center;
        }

        & span {
            font-family: 'classy-vogue-regular';
            font-size: 2rem;
            position: absolute;
            top: 85%;
            left: 32%;
        }
    }



    & .card:nth-child(2) {
        position: relative;
        margin-top: 10rem;
        border: solid .2rem #c72023;
        background-color: #d3cab5;
        border-radius: 2rem;
        width: 24rem;
        height: 32rem;
        
        & p {
            font-family: 'classy-vogue-regular';
            font-size: 1.6rem;
            text-align: center;
            padding: 2.5rem;
            max-width: 24rem;
        }

        & span {
            font-family: 'classy-vogue-regular';
            font-size: 2rem;
            position: absolute;
            padding: 8.6rem;
            top: 30%;
        }
    }


    & .card:nth-child(3) {
        position: relative;
        margin-top: 10rem;
        border: solid .2rem #c72023;
        background-color: #d3cab5;
        border-radius: 2rem;
        width: 24rem;
        height: 32m;
        
        & p {
            text-align: center;
            font-family: 'classy-vogue-regular';
            font-size: 1.6rem;
            padding: 2.6rem;
            width: 19rem;
        }

        & span {
            font-family: 'classy-vogue-regular';
            position: absolute;
            font-size: 2rem;
            position: absolute;
            padding: 7.7rem;
            top: 61%;
        }
    }
}

        & img {
            position: relative;
            width: 120%;
            top: -10%;
            z-index: 1;
        }

}