* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; /* importante para controle de largura */
}

body {
  overflow-x: hidden;
}

#hero {
  background: url(../assets/imagem_vertical.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#reserve, #feedback, #history {
  width: 100%;
  max-width: 100vw;
  background-size: cover;
  background-position: center;
}

/* Media Queries corrigidas */

@media (min-width: 30em) {
  #history {
    height: 130vh;
  }
}

@media (min-width: 80em) {
  #hero {
    background-image: url(../assets/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%; /* 100.4% foi removido */
    max-width: 100vw;
  }
}

@media (min-width: 120em) {
  #history {
    height: 100vh;
  }
}
