* {
    margin: 0;
    padding: 0; 
}

@font-face {
    font-family: 'arabic-ramadhan';
    src: url(../fonts/arabic-ramadhan.otf) format('opentype');
}

@font-face {
    font-family: 'classy-vogue-regular';
    src: url(../fonts/classy-vogue-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'above-the-beyond-script';
    src: url(../fonts/above-the-beyond-script.otf) format('opentype');
}

body {
    overflow-x: hidden;
}

#hero {
    background: url(../assets/imagem_vertical.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 120%;
    height: 100vh;
}

#reserve {
    background: #23401f;
    background-size: cover;
    background-position: center;
    width: 200%;
    height: 90vh;
}
@media (width >= 80em) {
    #hero {
        background-image: url(../assets/background.png);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100.4%;
    }
}

