header {
    display: flex;

    & nav {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;

        & a {
            font-family: 'Alice', sans-serif;
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
    
        }
    }

}