 #hero {
    & #main {
        & img {
            display: block;
            margin: auto;
            margin-left: 15.5%;
            padding-top: 40%;
            width: 13rem;
        }

        & h1 {
            font-family: 'arabic-ramadhan', sans-serif;
            font-size: 8rem;
            font-weight: 100;
            color: white;
            margin-top: -2rem;
            margin-left: 16%;
        }

        & span {
            display: block;
            font-family: 'classy-vogue-regular', sans-serif;
            font-size: 1rem;
            color: white;
            margin-top: 1rem;
            margin-left: 22%;
        }
    }

        & .connection {
            & img {
                display: block;
                width: 100%;
                /* margin: auto; */
                margin-top: %;
            }
}
}

@media (width >= 80em) {

    #hero {
        & header {

            & nav {
                display: flex;
                justify-content: space-between;

                & a {
                    font-family: 'Alice', sans-serif;
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: white;
                    margin-top: 3rem;
                }
            }
        }

        & #main {
            & img {
                display: block;
                width: 25%;
                margin-top: 12rem;
                margin-left: 15%;
            }

            & h1 {
                font-family: 'arabic-ramadhan', sans-serif;
                font-size: 15rem;
                font-weight: 100;
                color: white;
                margin-top: -18rem;
                margin-left: 45%;
            }

            & span {
                display: block;
                font-family: 'classy-vogue-regular', sans-serif;
                font-size: 1.2rem;
                color: white;
                margin-top: 2.5rem;
                margin-left: 53%;
            }
        }

        & .connection {
            & img {
                display: block;
                width: 200%;
                /* margin: auto; */
                margin-top: -19%;
                margin-left: -36%;
            }
        }

    }
}


@media (width >= 120em) {

    #hero {
        & header {

            & nav {
                display: flex;
                justify-content: space-between;

                & a {
                    font-family: 'Alice', sans-serif;
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: white;
                    margin-top: 5rem;
                }
            }
        }

        & #main {
            & img {
                display: block;
                width: 25%;
                margin-top: 15rem;
                margin-left: 18%;
            }

            & h1 {
                font-family: 'arabic-ramadhan', sans-serif;
                font-size: 20rem;
                font-weight: 100;
                color: white;
                margin-top: -24%;
                margin-left: 46%;
            }

            & span {
                display: block;
                font-family: 'classy-vogue-regular', sans-serif;
                font-size: 1.5rem;
                color: white;
                margin-top: 2.5rem;
                margin-left: 56%;
            }
        }

        & .connection {
            & img {
                display: block;
                width: 150%;
                margin-top: -6.8%;
                margin-left: -30%;
            }
    }
}
}