@media (width >= 80em) {
    
}

@media (width >= 90em) {

}

@media (width >= 120em) {
    #reserve {
        position: relative;
        & img {
            padding-top: 5rem;
            position: absolute;
            right: 58%;
            display: block;
            width: 50%;
            overflow: hidden;
        }

        & h1 {
            font-family: 'above-the-beyond-script', sans-serif;
            font-size: 3.8rem;
            color: #d7c1b5;
            position: absolute;
            margin-top: 5rem;
            margin-bottom: 5rem;
            right: 66%;
        }

        & p {
            font-family: 'classy-vogue-regular';
            font-size: 2.5rem;
            color: #d7c1b5;
            position: absolute;
            right: 51%;
            top: 30%;
        }


        & a {
            position: absolute;

            font-family: 'classy-vogue-regular', sans-serif;
            font-size: 3rem;
            text-decoration: none;
            color: #d7c1b5;
            width: 30rem;
            padding-right: 8rem;
            padding-left: 10rem;
            padding-top: 1rem;
            bottom: 12%;
            right: 57%;
        }
    }
}