.container {
    max-width: 375px;
    margin-inline: auto;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: initial;
}

.background {
    margin: 0;
    padding: 0; 
}


@media (width >= 80em) {
    .container {
        width: 80em;
        max-width: 70rem;
        margin-inline: auto;
    }

    .desktop-only {
        display: initial;
    }

    .mobile-only {
        display: none;
    }

    .button {
        border: solid 1px;
        width: 10rem;
        height: 5rem;
        border-radius: 2rem;
    }
}

@media (width >= 120em) {
    .container {
        width: 120em;
        max-width: 100em;
        margin-inline: auto;
    }

    .button {
        border: solid 1px;
        width: 10rem;
        height: 5rem;
        border-radius: 2rem;
    }

    .flex {
        display: flex;
        gap: 5rem;
    }
}
