@media (max-width: 420px) {
  #welcome {
    margin-bottom: 8rem;

    & h1 {
      font-family: 'above-the-beyond-script', sans-serif;
      font-size: 1.8rem;
      font-weight: 100;
      color: #c72023;
      text-align: center;
      margin-top: -1rem;
      margin-bottom: 2rem;

      & span {
        padding: 1rem;
      }
    }

    & .container {
      max-width: 90%;
      margin: 0 auto; /* centraliza o container */

      & p {
        text-align: center;
        font-family: 'Alice', sans-serif;
        font-size: 1rem;
        font-weight: 500;

        & span {
          font-weight: 700;
        }
      }

      & img {
        display: block;
        width: 60%;
        margin: 2rem auto 0 auto;
        rotate: 10deg; /* valor mais suave */
        opacity: 0.8;
      }
    }
  }
}


@media (width >= 80em) {
     #welcome {

        & h1 {
            font-family: 'above-the-beyond-script', sans-serif;
            font-size: 2.5rem;
            font-weight: 100;
            color: #c72023;
            text-align: initial;
            margin-top: 2rem;
            margin-bottom: 2rem;

            & span {
                padding: 1rem;
            }
        }

        & .container {
            width: 80em;
            max-width: 70rem;
            margin-inline: auto;

            & p {
                max-width: 55rem;
                font-family: 'Alice', sans-serif;
                font-size: 1.68rem;
    
                padding: 0%;
            }
    
            & img {
                position: initial;
                opacity: 1;
                display: block;
                width: 80%;
                margin-top: -20rem;
                margin-left: 70%;
                rotate: 35deg;
            }

        }

    }
}

@media (width >= 90em) {
     #welcome {

        & h1 {
            font-family: 'above-the-beyond-script', sans-serif;
            font-size: 2.5rem;
            font-weight: 100;
            color: #c72023;
            margin-top: 10rem;
            margin-bottom: 2rem;

            & span {
                padding: 1rem;
            }
        }

        & p {
            max-width: 55rem;
            font-family: 'Alice', sans-serif;
            font-size: 1.68rem;

            padding: 0%;
        }

        & img {
            position: initial;
            opacity: 1;
            display: block;
            width: 80%;
            margin-top: -20rem;
            margin-left: 70%;
            rotate: 35deg;
        }
    }
}

@media (width >= 120em) {
    #welcome {
        & h1 {
            font-family: 'above-the-beyond-script', sans-serif;
            font-size: 3.8rem;
            font-weight: 100;
            color: #c72023;
            margin-bottom: 2rem;

            & span {

                padding: 1rem;
            }
        }

        & .container {
            width: 120em;
            max-width: 100em;
            margin-inline: auto;
            & p {
                max-width: 45rem;
                font-family: 'classy-vogue-regular', sans-serif;
                font-size: 2.5rem;
            }
    
            & img {
                display: block;
                width: 80%;
                margin-top: -25rem;
                margin-left: 70%;
                rotate: 35deg;
            }

        }

    }
}